{% extends "base.html" %}

{% block content %}


    <ul>
	   {% if vname in vcat %}
	   <h1>Liste</h1>
	   {% for item in articles %}
	     <li><a href="/texte/{{ item.titre }}">{{ item.titre}}</a></li>
	   {% endfor %}

	   {% else %}

	   <h1>{{titre}}</h1>
	   <li> <strong>Auteur : {{auteur}} </strong></li>
	   <li> <strong>Date : {{date}} </strong></li>
	   {% if référence !="" %}
	   		<p> <strong>Référence :  </strong><a href="{{ référence }}">{{ référence }}</a></p>
	   {% endif %}

       <br> 
       {% for i in texte %}
            {{i}}
            <br>
       {% endfor %}

       	
       
       		
	   {% endif %}
	 </ul>



{% endblock %}
