{% extends "base.html" %}

{% block content %}
<style type="text/css">
  body {
    font-family: Georgia, "Times New Roman",
          Times, serif;
    color: #1d030b;
    background-color:  #d2def0 }
  h1 {
    font-family: Helvetica, Geneva, Arial,
          SunSans-Regular, sans-serif }
  </style>
<h1>À propos </h1>

<p>Aujourd'hui c'est {{ context['day'] }}.</p>

{% set date = context['date'] %}
{% set time = context['time'] %}

<p>{% if date.hour|int < 12 and date.hour > 5 %}Bonjour !
{% elif date.hour|int >= 18 and date.hour|int < 22 %}Bonsoir !
{% elif date.hour|int >= 22 %}Bonne nuit !
{% endif %} Il est {{time}} !</p>

<p> Nous sommes 4 étudiants de 4ème année de l'INSA de LYON en filière Bioinformatique et Modélisation. Dans le cadre du cours, de Programmation Web et ce au cours des séances du lundi matin, nous avons réalisé ce blog. C'est un regroupement d'articles que nous avons écrit pour certains et d'autres que nous avons regroupés d'internet.</p>

<p> Nous pensions au départ réalisé un blog sur le sport, mais nous avons trouvé plus cohérent de faire un blog sur notre situation actuelle qu'est le confinement.</p>

<p>Vous avez la possibilité de rajouter des articles si bon vous semble, de lire nos  articles et de rechercher un motif qui sera chercher à la fois dans les tags, les noms des auteurs et dans les titres des articles.</p>

<p>En cas de problèmes, nous contacter!<br>
Bonne lecture et bon confinement. </p>

<img src="{{url_for('static', filename='image/logo.png')}}" />



{% endblock %}
