{% extends "base.html" %}

{% block content %}
<h1>À propos </h1>

<p>Aujourd'hui c'est {{ context['day'] }}.</p>

{% set date = context['date'] %}
{% set time = context['time'] %}

<p>{% if date.hour|int < 12 and date.hour > 5 %}Bonjour !
{% elif date.hour|int >= 18 and date.hour|int < 22 %}Bonsoir !
{% elif date.hour|int >= 22 %}Bonne nuit !
{% endif %} Il est {{time}} !</p>

<hr/>
<p> Nous sommes 4 étudiants de 4ème année de l'INSA de LYON en filière Bioinformatique et Modélisation. Dans le cadre du cours, de Programmation Web et ce au cours des séances du lundi matin, nous avons réalisé ce blog. C'est un regroupement d'articles que nous avons écrit pour certains et d'autres que nous avons regroupés d'internet.</p>

<p> Nous pensions au départ réalisé un blog sur le sport, mais nous avons trouvé plus cohérent de faire un blog sur notre situation actuelle qu'est le confinement.</p>

<p>Vous avez la possibilité de rajouter des articles si bon vous semble, de lire nos  articles et de rechercher un motif qui sera chercher à la fois dans les tags, les noms des auteurs et dans les titres des articles.</p>

<p>En cas de problèmes, nous contacter!<br>
Bonne lecture et bon confinement. </p>

<p><strong>Pour tester vos connaissances sur le sujet et voir si vous avez regardé nos articles, voici un petit questionnaire: </strong></p>

<div>Qu'est ce que le coronavirus ?</div>
<div>
<input name="serie1" id="serie1a" type="radio">Une marque de bière<br>
<input name="serie1" id="serie1b" type="radio">Un mythe américain<br>
<input name="serie1" id="serie1c" type="radio">Un virus<br>
</div>
<div align="center"><input type="button" onClick="valider()" value="Valider"></div>

<div>Pouvons nous sortir pendant le coronavirus ?</div>
<div>
<input name="serie1" id="serie1d" type="radio">Pour acheter de la bière, toujours ! <br>
<input name="serie1" id="serie1e" type="radio">Seulement en cas de nécessité <br>
<input name="serie1" id="serie1f" type="radio">Oui, pourquoi se priver?<br>
</div>
<div align="center"><input type="button" onClick="valider1()" value="Valider"></div>

<div>La situation dans les couples ?</div>
<div>
<input name="serie1" id="serie1g" type="radio">Le confinement c'est le rêve non? <br>
<input name="serie1" id="serie1h" type="radio">Cela dépend des couples <br>
<input name="serie1" id="serie1i" type="radio">Des problèmes chaque jours...<br>
</div>
<div align="center"><input type="button" onClick="valider2()" value="Valider"></div>

<div>Que faire pendant le confinement ?</div>
<div>
<input name="serie1" id="serie1j" type="radio">Les entreprises proposent des activités, du sport, des films...<br>
<input name="serie1" id="serie1k" type="radio">Il n'y a rien à faire<br>
<input name="serie1" id="serie1l" type="radio">Aller voir ses amis dans le bar du coin...<br>
</div>
<div align="center"><input type="button" onClick="valider3()" value="Valider"></div>


<center>
<img src="{{url_for('static', filename='image/logo.png',width="25")}}" />
</center>

{% endblock %}
