{% extends 'base.html' %}
{% block content %}
      <h1 class="mt-5">Articles</h1>

      <form action="/action_page.php">
        <select name="catégorie" id="catégorie-select">
        <option value="">--Veuillez choisir une catégorie--</option>
        <option value="Achat">Achat</option>
        <option value="Amour">Amour</option>
        <option value="Cours">Cours</option>
        <option value="Enfants">Enfants</option>
        <option value="Films">Films</option>
        <option value="Monde">Monde</option>
        <option value="Shopping">Shopping</option>
        </select><br><br>

        <label for="fname">Titre:</label><br>
        <input type="text" id="titre" name="name"><br>
        <label for="lname">Auteur:</label><br>
        <input type="text" id="auteur" name="name"><br>
        <label for="fname">Texte:</label><br>
        <input type="text" id="texte" name="name"><br>
        <label for="fname">Date:</label><br>
        <input type="text" id="date" name="name"><br>
        <label for="fname">Réference:</label><br>
        <input type="text" id="ref" name="ref"><br><br>
        <input type="submit" value="Submit">
      </form>

      <body>
      	<ul id="Articles">
    	{% for item in articlename %}
        	<li>{{item.titre}}</li>
    	{% endfor %}
      </body>
{% endblock %}
