{% extends 'base.html' %}
{% block content %}
      <h1 class="mt-5">Articles</h1>

      <form action="/action_page.php">
        <select name="catégorie" id="catégorie-select">
        <option value="">--Veuillez choisir une catégorie--</option>
        <option value="Achat">Achat</option>
        <option value="Amour">Amour</option>
        <option value="Cours">Cours</option>
        <option value="Enfants">Enfants</option>
        <option value="Films">Films</option>
        <option value="Monde">Monde</option>
        <option value="Shopping">Shopping</option>
        </select><br>

        <label for="titre">Titre:</label><br>
        <input type="text" id="titre" name="name"><br>
        <label for="auteur">Auteur:</label><br>
        <input type="text" id="auteur" name="name" ><br>
        <label for="date">Date:</label><br>
        <input type="text" id="date" name="name"><br>
        <label for="texte">Texte:</label><br>
        <textarea id="texte" name="story" rows="20" cols="70">
        Exprimez-vous...
        </textarea><br>

        <label for="ref">Réference:</label><br>
        <input type="text" id="ref" name="ref"><br><br>
        <input type="submit" value="Submit">
      </form>

      <body>
      	<ul id="Articles">
    	{% for item in articlename %}
        	<li><a href="{{ url_for('index') }}#home">{{item.titre}}</a></li>
    	{% endfor %}
        </ul>
      </body>
{% endblock %}