<!DOCTYPE html>
<html>
  <head>
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
    
    <title>{{ page_title|default('Être confiné pour les nuls') }}</title>
    
{% block head %}{% endblock %}
  </head>
  <body>
    <ul>
      <li class="nav"><a href="{{ url_for('index') }}#home">Accueil</a></li>
      <li class="nav"><a href="{{ url_for('articles') }}">Ajouter un article</a></li>
      <li class="nav"><a href="#contact">Contact</a></li>
      <li class="nav" style="float:right" ><a href="{{ url_for('about') }}">À propos</a></li>
    </ul>

{% block content %}{% endblock %}

    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>
