{% extends "base.html" %}

{% block content %}
<style type="text/css">
  body {
    font-family: Georgia, "Times New Roman",
          Times, serif;
    color: #1d030b;
    background-color:  #d2def0 }
  h1 {
    font-family: Helvetica, Geneva, Arial,
          SunSans-Regular, sans-serif }
  </style>
<h1>S'occuper pendant le confinement</h1>

<p>N'oubliez pas de vous laver les mains et de rester chez vous !</p>

    <ul class>
      <li><a href="{{ url_for('index') }}#home">Achat</a></li>
      <li><a href="{{ url_for('index') }}#home">Amour</a></li>
      <li><a href="{{ url_for('index') }}#home">Travail</a></li>
      <li><a href="{{ url_for('index') }}#home">Activité</a></li>
      <li><a href="{{ url_for('index') }}#home">Enfants</a></li>
      <li><a href="{{ url_for('index') }}#home">Films</a></li>
      <li><a href="{{ url_for('index') }}#home">Monde</a></li>
      <li><a href="{{ url_for('index') }}#home">Shopping</a></li>
    </ul>

{% endblock %}
