{% extends 'base.html' %}
{% block content %}
<style type="text/css">
  body {
    font-family: Georgia, "Times New Roman",
          Times, serif;
    color: #1d030b;
    background-color:  #d2def0 }
  h1 {
    font-family: Helvetica, Geneva, Arial,
          SunSans-Regular, sans-serif }
  </style>

      <body>

	{% if pattern != NONE %}
        	{% if titre != [] %}
			Recherche par titre : "{{ pattern}}"
		{% endif %}
		{%if auteur != [] %}
			Recherche par auteur : "{{ pattern}}"
		{% endif %}
		{%if categorie != [] %}
			Recherche par catégorie : "{{ pattern}}"
		{% endif %}
      	{% endif %}

	{% if titre == [] and auteur == [] and categorie == []%}
		Pas de résultat (ni titre, ni auteur, ni catégorie) pour : "{{pattern}}"
	{% endif %}


	<ul>
	{% if a != [] and u != [] and categorie !=[] %}
      	{% for t in total %}
        	<li> <a href = "/articles/{{t.titre}}" + ".html"> {{ t.titre }}</a></li>
      	{% endfor %}
	{% endif %}
      </ul>

        <ul>
	{% if a == [] and categorie==[] %}
      	{% for user in titre %}
        	<li> <a href = "/articles/{{user.titre}}" + ".html"> {{ user.titre }}</a></li>
      	{% endfor %}
	{% endif %}
      </ul>

	<ul>
	{% if u == [] and categorie==[] %}
      	{% for aut in auteur %}
        	<li> <a href = "/articles/{{aut.titre}}" + ".html"> {{ aut.titre }}</a></li>
      	{% endfor %}
	{% endif %}
      	</ul>

	<ul>
	{% if u == [] and a == [] %}
      	{% for cat in categorie %}
        	<li> <a href = "/articles/{{cat.titre}}" + ".html"> {{ cat.titre }}</a></li>
      	{% endfor %}
	{% endif %}

      	</ul>
      </body>
{% endblock %}
